# Ignore virtual environment
.venv/
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore local outputs
output/

# Ignore editor/IDE files
.vscode/
.idea/

# Ignore logs or temp
*.log
*.tmp